/* stlyes.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EBEAEE  ;
  color: #333;
  padding-bottom: 93px;
}

header {
  background-color: #EBEAEE;
  color: white;
  padding: 1em;
  text-align: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}
nav a {
  color: #0471B2;
  /* text-decoration: none; */
}
main {
  padding: 2em;
}

/* header Stlye */
.header-actions {
    display: flex;
    align-items: center;
}

/* footer stlye */
footer {
    color: white;
    margin: 0;
    padding: 0 20px 0 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#0471B2;
    text-align: center;
    z-index:1000;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav-link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.footer-nav-link:hover {
    color: black;
    background-color: rgba(0, 102, 204, 0.05);
}

/* footer Actions */
.footer-actions {
    display: flex;
    align-items: center;
}

/* footer Navigation */
.main-nav .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0;
    position: relative;
}

.nav-link {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.nav-link:hover {
    color: #0471B2;
    background-color: rgba(0, 102, 204, 0.05);
}

.nav-link.active {
    color: #0066cc;
    font-weight: 600;
}


/* icon Styles */
.icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
}

.icon a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.icon img {
    height: 30px;
    width: auto;
}

/* icon-small Styles */
.icon-small a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.icon-small img {
    margin-top: 10px;
    height: 15px;
    width: auto;
}

.btn-signin {
    background: white;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
